<nav class="bg-white px-2 sm:px-4 py-6">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
        <a href="/" class="flex items-center">
            <img
                src="/logos/logo_full.svg"
                class="mr-3 h-6 sm:h-9 w-[120px] sm:w-[230px]"
                alt="Codemaster Logo"
            />
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Codemaster</span>
        </a>

        <div class="flex gap-5">
            <a class="flex items-center gap-6" href="/">
                inicio  
            </a>
            <a class="flex items-center gap-6" href="/test">
                test  
            </a>
        </div>
    </div>
</nav>